/ManosALaObra1_Guia12/nbproject/private/
/ManosALaObra1_Guia12/build/
/ManosALaObra2_Guia12/nbproject/private/
/ManosALaObra2_Guia12/build/
/Ejercicio1_Guia12/nbproject/private/
/Ejercicio1_Guia12/build/
/Ejercicio2_Guia12/nbproject/private/
/Ejercicio2_Guia12/build/
/Ejercicio4_Guia12/nbproject/private/
/Ejercicio4_Guia12/build/
/EjercicioExtra4_Guia12/nbproject/private/
/EjercicioExtra1_Guia12/nbproject/private/
/EjercicioExtra1_Guia12/build/
