/ManosALaObra1_Guia12/nbproject/private/
/ManosALaObra1_Guia12/build/
/ManosALaObra2_Guia12/nbproject/private/
/ManosALaObra2_Guia12/build/
/Ejercicio1_Guia12/nbproject/private/
/Ejercicio1_Guia12/build/
